{% extends "template.html.twig" %}

{% block title %}Oeuvres{% endblock %}

{% block body %}
   <div class="d-flex justify-content-center pt-5">
      <h2>Oeuvres</h2>
   </div>

   <div class="mt-3">

    
      <div class="row flex-column">
        <div class="col-3 align-self-center">
         <form method="POST" action="{{baseUrl}}/Oeuvres/Genre" class="form-inline my-2 my-lg-0 form-control-sm">
            <select class="custom-select" name="style">
               <option selected disabled>Categorie</option>
               <option value ="album de musique">album de musique</option>
               <option value ="film">film</option>
               <option value ="jeu vidéo">jeu vidéo</option>
               <option value ="livre">livre</option>
            </select>
            <button class="btn btn-dark my-2 my-sm-0" type="submit">Go</button>
         </form>
         </div>
      </div>
   </div>

  
   {% if slug is null %}
      <div class="d-flex justify-content-center flex-wrap">
         {% for oeuvres in oeuvres %}
            <div class="d-flex flex-column m-5 container-image-showallmovie  position-relative">
               <a href="{{baseUrl}}/Oeuvres/Oeuvre_{{oeuvres.id_oeuvre}}" class="shadow-drop-2-center">
               <img src="{{oeuvres.picture}}" style="width:300px;height:400px;"></img>
               </a>
               <p class="text-in-image m-0 pb-3 px-0 pt-3 text-center font-weight-bold" >{{oeuvres.title}}</p>
               <p class="text-in-image m-0 pb-3 px-0 pt-3 text-center font-weight-bold" >Categorie : {{oeuvres.style}}</p>
            </div>
         {% endfor %}
      </div>

   
   {% elseif (slug == "Recherche") %}
      <div class="d-flex justify-content-center flex-wrap">
         {% for search in search %}
            <div class="d-flex flex-column m-5 container-image-showallmovie position-relative">
               <a href="{{baseUrl}}/Oeuvres/Oeuvre_{{search.id_oeuvre}}" class="shadow-drop-2-center">
                  <img src="{{search.picture}}" style="width:300px;height:400px;"></img>
               </a>
               <p class="text-in-image m-0 pb-3 px-0 pt-3 text-center font-weight-bold" >{{search.title}}</p>
            </div>
         {% endfor %}
      </div>

      <div class="d-flex justify-content-center pt-5">
         <p>{{notFound}}</p>
      </div>

   
   {% elseif (slug == "Genre") %}
      <div class="d-flex justify-content-center flex-wrap">
         {% for style in style %}
            <div class="d-flex flex-column m-5 container-image-showallmovie position-relative">
               <a href="{{baseUrl}}/Oeuvres/Oeuvre_{{style.id_oeuvre}}" class="shadow-drop-2-center">
               <img src="{{style.picture}}" style="width:300px;height:400px;"></img>
               </a>
               <p class="text-in-image m-0 pb-3 px-0 pt-3 text-center font-weight-bold" >{{style.title}}</p>
            </div>
         {% endfor %}
      </div>

      <div class="d-flex justify-content-center pt-5">
         <p>{{notFound}}</p>
      </div>
   {% endif %}
{% endblock %}
